.container-card-air-condition {

    height: 40%;
    width: 40%;
    display: flex;
    align-items: flex-start;
}

.container-card-air-condition .icon-condition {
    width: 10%;
    height: 100%;
}

.container-card-air-condition .icon-condition svg {
    width: 90%;
    height: auto;
    object-fit: contain;
    fill: var(--font-color-secondary);
    color: var(--font-color-secondary);
    ;
}

.container-card-air-condition .data-air-condition {
    width: 80%;
    height: 100%;
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3%;
}

.container-card-air-condition .data-air-condition h2 {
    color: var(--font-color-secondary);
    font-size: x-large;
}

.container-card-air-condition .data-air-condition p {
    color: var(--font-color);
    font-weight: bold;
    font-size: xx-large;
    padding-bottom: 10%;
}